header {
  height: 10%;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: #519872;
}

#dashboard-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background: #e5f4ec;
  width: 50%;
}

#home-information-container {
  background: #dedede;
}

#left-block-one {
  background: #afd4c0;
  width: 33%;
  height: 100%;
}

#home-information {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 100px;
  align-items: center;
}